{% extends "layout.html" %}
{% block content %}
	<div class="container text-center mt-4 mb-4">
		{% block mars_content %}
    {% endblock %}

		<hr>

		<div class="container text-center mt-4 mb-4">
			<div class="col-lg-12 col-md-12 mb-12">
				<h4>Search for a photo by rover, sol and camera type</h4>
				<form method="post" action="/mars-rover-search">
					<div class="row mt-4">
						<div class="col">
    						<label for="rover">Rover</label>
    						<select class="form-control" id="rover", name="rover">
      							<option value="curiosity">Curiosity</option>
      							<option value="opportunity">Opportunity</option>
      							<option value="spirit">Spirit</option>
    						</select>
  						</div>
						<div class="col">
    						<label for="camera">Camera type</label>
    						<select class="form-control" id="camera", name="camera">
      							<option value="FHAZ">Front Hazard Avoidance Camera</option>
      							<option value="RHAZ">Rear Hazard Avoidance Camera</option>
      							<option value="MAST">Mast Camera</option>
      							<option value="CHEMCAM">Chemistry and Camera Complex</option>
      							<option value="MAHLI">Mars Hand Lens Imager</option>
      							<option value="MARDI">Mars Descent Imager</option>
      							<option value="NAVCAM">Navigation Camera</option>
      							<option value="PANCAM">Panoramic Camera</option>
      							<option value="MINITES">Miniature Thermal Emission Spectrometer (Mini-TES)</option>
    						</select>
  						</div>
  					<div class="col">
    					<label for="sol">Sol</label>
    					<input class="form-control" id="sol" name="sol" placeholder="Enter an integer">
  					</div>
  				</div>
  					<button type="submit" id="submit-button" class="btn btn-light btn-sm mt-4">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}