<!DOCTYPE html>
<html>

<head>
	<title>Nasa Photo of the Day</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light white lighten-4 bottom-bord">
		<!-- Additional container -->
		<div class="container-fluid">
			<!-- Navbar brand -->
			<a class="navbar-brand mr-4" href="/"><img src="{{ url_for('static', filename='images/nasa-logo-web-rgb.png')}}" height="50" class="d-inline-block align-top" alt="mdb logo"></a>
			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span></button>
			<!-- Collapsible content -->
			<div class="collapse navbar-collapse" id="basicExampleNav">
				<!-- Links -->
				<ul class="navbar-nav mr-auto gotham-light">
					<!-- Options -->
					<li class="nav-item dropdown mr-4">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
						<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item nav-option" href="/mars">Mars rover</a>
							<a class="dropdown-item nav-option" href="/photo">Photo of the day</a>
						</div>
					</li>
					<!--/.Options -->
					<!-- About -->
					<li class="nav-item mr-4">
						<a class="nav-link" href="/about">About</a>
					</li>
					<!--/.About -->
				</ul>
				<!-- Links -->
			</div>
		</div>
		<!-- Additional container -->
	</nav>
		<!--/.Navbar-->

	<!--/Main content-->
	<div class="container text-center mt-4 mb-4">
		<div class="col-lg-12 col-md-12 mb-12">
			<h1>Mars rover</h1>
			<p>Text here</p>
			<h3>Search photos by sol and camera type</h1>
			<form method="post" action="/mars-photo">
				<div class="form-group">
    				<label for="rover">Rover</label>
    				<select class="form-control" id="rover", name="rover">
      					<option value="curiosity">Curiosity</option>
      					<option value="opportunity">Opportunity</option>
      					<option value="spirit">Spirit</option>
    				</select>
  				</div>
				<div class="form-group">
    				<label for="camera">Camera type</label>
    				<select class="form-control" id="camera", name="camera">
      					<option value="FHAZ">Front Hazard Avoidance Camera</option>
      					<option value="RHAZ">Rear Hazard Avoidance Camera</option>
      					<option value="MAST">Mast Camera</option>
      					<option value="CHEMCAM">Chemistry and Camera Complex</option>
      					<option value="MAHLI">Mars Hand Lens Imager</option>
      					<option value="MARDI">Mars Descent Imager</option>
      					<option value="NAVCAM">Navigation Camera</option>
      					<option value="PANCAM">Panoramic Camera</option>
      					<option value="MINITES">Miniature Thermal Emission Spectrometer (Mini-TES)</option>
    				</select>
  				</div>
  				<div class="form-group">
    				<label for="sol">Sol</label>
    				<input class="form-control" id="sol" name="sol" placeholder="Enter an integer">
  				</div>
  				<button type="submit" id="submit-button" class="btn btn-light btn-sm">Submit</button>
			</form>
		</div>
	</div>
	<!--/.Main content-->

</body>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>

</html>